



/* Menu Styling */
.menu {
  background-image: linear-gradient(to right, #111111, #444444);
  
}

.navbar-brand {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  color: #55E6EB;
}

.nav-link{
  color: #EBD13D
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235,209,261, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(235,209, 61);
} 



/* Main Page Stylings */
html, body, .main-pages{
background-image:url("../images/diagmonds.png");
background-color: #111111;
overflow-x: hidden;
width:100%;
height: 100%;
box-sizing: border-box;
}




/* Global Styles */
p {
  margin: 5px;
  font-family: 'Hind', sans-serif;
}

h1, h2, h3, button{
  color: #ffffff;
  font-family: 'Archivo', sans-serif;
}

h2 {
  font-size: 7vh
}

h3 {
  font-size: 5vh;
}

.btn {
  padding:10px;
  margin: 0 5px;
}

.btn:focus{
  box-shadow: none;
}

.card{
  box-shadow: 0 0 7px .1px #ebd13d8a;

}

/* Fades in elements */

li, .no-res {
  animation: fadeInAnimation .5s linear;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slight-buffer{
  margin-top:6px
}

/* change form labels to white */
form, input, label, p {
  color:#ffffff;

}

/* css for the loading spinner */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #54E6EB;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

 
/* Small screen devices (600px and above) */
@media only screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 30px;
  }

  h3 {
    font-size: 3vh;
  }
}